@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Bungee+Spice&family=Faster+One&family=Kaushan+Script&family=Libre+Barcode+39+Text&family=Lobster&family=Merienda:wght@400;500;600;700&family=Mitr:wght@400;600;700&family=Modak&family=Montserrat+Subrayada:wght@700&family=Nabla&family=Parisienne&family=Passion+One&family=Poppins:ital,wght@0,400;0,500;0,700;1,700&family=Press+Start+2P&family=Prosto+One&family=Righteous&family=Roboto&family=Russo+One&family=Source+Code+Pro:wght@500;700&display=swap');
* , *::before , *::after {
    margin: 0;
    padding: 0;
    border: 0;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    color: white;
    /* font-family: 'Prosto One', cursive; */
    font-family: 'Source Code Pro', monospace;
}

.background-picture {
    position: absolute;
    top: 0;
    left: 0;
  width: 100vw;
  height: 100vh;
}

.info-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 300px;
    clip-path: polygon(20% 73%, 80% 73%, 100% 100%, 0% 100%);
background-color: white;
background: rgba(56, 68, 64, 0.556);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}


.info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(3, 156, 3);
    color: white;
    width: 60px;
    height: 30px;
    bottom: 30px;
    /* left: 43%; */
    border-radius: 50%;
box-shadow: 0px 5px 0px rgb(18, 122, 0);
/* font-family: 'Source Code Pro', monospace; */
font-family: 'Lobster', cursive;

}

.info-btn:hover {
    background-color: rgb(37, 184, 37);
    /* box-shadow: 0px 5px 10px rgb(18, 122, 0); */
    cursor: pointer;
}